* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #C2E8FF;
    font-size: 62.5%;
}

#container {
    display: flex;
    flex-direction: row;
    max-width: 1213px;
    width: 1213px;
    height: 760px;
}

#lado-esquerdo {
    display: flex;
    flex-direction: column;
    width: 59%;
    height: 100%;
    background-color: #ffffff;
}

.container-cima {
    border-radius: 8px;
    margin: 15px;
    width: 96%;
    height: 45%;
    
    object-fit: cover;
    background: url(images/Rectangle\ 4.png) no-repeat top center/cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-icone {

    width: 100%;
    height: 90%;
    margin: 16px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13.5px);
    border-radius: 8px;

    display: flex;
    flex-direction: column;    /* organiza em coluna */
    align-items: center;       /* centraliza na horizontal */
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: auto 0;            
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.container-logo img {
    width: 32px;
    height: 32px;
}

.rede-icones {
  display: flex; 
  gap: 10px;   
  margin-bottom: 10px;
}

.rede-icones img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.container-baixo {
    background: url(images/img01.png) no-repeat top center/cover;

    width: 100%;
    height: 50%;
}



#lado-direito {
    background-color: #F5F5F5;
    width: 41%;
    height: 100%;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: right top; /* fixa no topo à direita */
    background-size: 25%;
}

#container-direito {
    width: 85%;
    margin: 40px auto;

    h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: #0F1423;
    margin-bottom: 8px;
    }
    h1 span {
    font-family: 'Inter', sans-serif;

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 29px;
    }
    p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #646464;
    }
    
}

label,
input {
    cursor: pointer;
}

.direita-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 16px;
    color: #0F1423;


}

.direita-logo img {
    width: 32px;
    height: 32px;
}

.contaner-loguin {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #0F1423;
    }

    input {
        font-family: 'Inter', sans-serif;
        padding: 15px;
        border: none;
        

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #D4D4D4;
        }

        &:focus {
            outline: none;
        }
    }
}



.remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        width: 50%;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        color: #646464;

        label {
            padding: 10px 2px;
        }

        
    }
    input[type="checkbox"] {
    width: 15px;
    height: 15px;
    }
    a {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        text-align: right;
        color: #646464;
        text-decoration: none;
    }
}

button {
    padding: 15px 48px;
    background: #3290FF;
    border-radius: 12px;
    width: 100%;
    border: none;
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;

    margin-block: 15px;
}

.ou {
    color: #646464;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.login-alternativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
        margin-block: 24px 0px;
        display: flex;
        gap: 24px;
    }
}

.link a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #646464;
    
    span {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 0.8rem;
        color: #0F1423;


    }
}





@media (max-width: 800px) {

    #lado-esquerdo {
        width: 40%;
    }

    .container-cima {
        width: 90%;
        margin: auto;
        border-radius: 8px 8px 0px 0px;
    }

    #lado-direito {
        width: 60%;
    }
}

@media (max-width: 480px) {

    body {
        background-color: #ffffff;
    }
    #container {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        
    }
    #lado-esquerdo,
    #lado-direito {
        width: 90%;
        margin: auto;
    }

    .container-cima {
        width: 100%;
        height: 100%;
        border-radius: none;
    }

    .container-baixo {
        display: none;
    }

    .rede-icones {
        padding: 10px;
        gap: 20px;
    }

    .container-logo img {
        width: 42px;
        height: 42px;
    }

    .rede-icones img {
        width: 24px;
        height: 24px;
    }
}
